.sales {
  background-image: url("http://placehold.it/980x150?text=Tea Service");
  background-position: center;
  background-size: 100%;
}
.order {
  background-image: url("http://placehold.it/980x450?text=Wood Texture");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.learn {
  background-image: url("http://placehold.it/980x500?text=Person on Computer------------------");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.points {
  background-color: rgb(2, 144, 90);
  color:white;
}

.btn.btn-flat {
    color: #333333;
    background-color: #FFFFFF;
    background-image: linear-gradient(to bottom, #FFFFFF, #ffffff);
    border-color: #CCCCCC #CCCCCC #CCCCCC;
}
.btn.btn-flat:hover {
    color: #333333;
    background-color: #ffffff;
    background-image: linear-gradient(to bottom, #ffffff, #ffffff);
    border-color: #CCCCCC #CCCCCC #CCCCCC;
}

.btn.btn-outline {
    color: #FFF;
    background-image:none;
    border-color: #FFFFFF #FFFFFF #FFFFFF;
    border-width: 3px;
}
.btn.btn-outline:hover {
    color: #333333;
    background-image:none;
    border-color: #FFFFFF #FFFFFF #FFFFFF;
}